@import "tailwindcss";

@font-face {
  font-family: 'LeJeune';
  src: url('/fonts/LeJeuneDeck-Regular-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: LeJeune,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}